.git
.github
.agents
.codex
.idea
.vscode

node_modules
**/node_modules
.turbo
**/.turbo
.output
**/.output
.vercel
**/.vercel
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo

.env*
**/.env*
!**/.env.example

.DS_Store
*.log

Dockerfile
.dockerignore
